<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <httpRuntime maxRequestLength="999999999"></httpRuntime>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="FireStreamBehavior" name="DeliveryStreamCloudWCF.Service.CloudService">
        <endpoint address="" binding="basicHttpBinding" contract="DeliveryStreamCloudWCF.Service.ICloudService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />        
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DeliveryStreamCloudWCF.IISHost.StoredProcedureAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="FireStreamBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>      
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="Cloud.svc" />
            </files>
        </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="FireStreamConnectionString" connectionString="Data Source=355-RAVI\MSSQLR2;Initial Catalog=AScendCloud03;Persist Security Info=True;User ID=sa;Password=aloha@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
