<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="999999999"></httpRuntime>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>  
  <system.serviceModel>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="DeliveryStreamBehavior" name="DeliveryStreamCloudWCF.Service.CloudService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="EpicBinding" contract="DeliveryStreamCloudWCF.Service.ICloudService" />
        <!--<endpoint address="" binding="basicHttpBinding" contract="DeliveryStreamCloudWCF.Service.ICloudService"/>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />        
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="EpicBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
       
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DeliveryStreamCloudWCF.IISHost.StoredProcedureAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DeliveryStreamBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>      
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="Cloud.svc" />
            </files>
        </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="DeliveryStreamCloud" connectionString="Data Source=FSWWIN-PC066\SQL2008;Initial Catalog=DS_DEV;Persist Security Info=True;User ID=sa;Password=fsww" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PrevDays" value="7"/>
    <add key="ExceptionReportLogWrite" value="False"/>
  </appSettings>
</configuration>
